*{
    margin: 0;
}
.Texto{
    position: absolute;
    width: 300px; 
    height: 200px; 
   
}


#texto-izquierda{
    position: absolute;
    top: 20;
    left: 0;
}

#texto-derecha{
    position: absolute;
    top: 20;
    right: 0;
}