#centrado{
    text-align: center;
    color: blueviolet;
    background-color: aquamarine;


}

#centrado1{

    text-align: center;
    color: blueviolet;
    background-color: aquamarine;
}

#centrado2{

    text-align: center;
    color: blueviolet;
    background-color: aquamarine;

}

#centrado3{
    text-align: center;
    color: blueviolet;
    background-color: aquamarine;


}

#centrado4{

    text-align: center;
    color: blueviolet;
    background-color: aquamarine;

}